:root {
    --title1-color: #3c015a;
    --title2-color: #36f1c3;
}

html {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-align: center;
    box-sizing: border-box;
}

body {
    background-color: var(--title1-color);
    font-family: 'Black Ops One', cursive;
    color: #ffffff;
    line-height: 1.2;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    background: var(--title2-color);
    padding: 0.8rem;
    width: 260px;
}

header h1 {
    color: var(--title1-color);
    text-align: center;
    font-size: 1.2rem;
}

.pontuacao {
    border: solid white;
    width: 8rem;
    font-size: 1.5rem;
    margin: 1.2rem auto;
    border-radius: 4px;
    padding: 0.7rem 1rem;
    position: relative;
    text-align: center;
}

.pontuacao span {
    font-size: 2.5rem;
}

.pontuacao .jogador {
    background: #512bda;
    padding: 0.3rem;
    font-size: 0.9rem;
}

.pontuacao #placaUsuario {
    position: absolute;
    top: 1.4rem;
    left: -3rem;
}

.pontuacao #placaComputador {
    position: absolute;
    top: 1.4rem;
    right: -5rem;
}

.resultado {
    font-size: 1.3rem;
}

.resultado p {
    text-align: center;
}

.opcoes {
    text-align: center;
}

.opcao {
    display: inline-block;
    margin: 1rem;
}

.opcoes img {
    background: var(--title2-color);
    height: 5rem;
    width: 5rem;
    border-radius: 100px;
    border: 4px solid white;
}

.opcoes img:hover {
    background: #f5f5f5;
    cursor: pointer;
    transition: all 0.3s ease; /* testando transição */
}

#mensagemJogar {
    text-align: center;
    font-size: 1.3rem;
    margin-top: 2rem;
}

#autor {
    margin-top: 80px;
    font-size: 0.7rem;
}

    @media screen and (min-width: 768px) {

        header {
            width: 728px;
            border-radius: 5px;
        }

        header h1 {
            font-size: 2.2rem;
        }  

        .pontuacao {
            width: 12rem;
            font-size: 2.5rem;
            margin-top: 40px;            
        }

        .pontuacao #placaUsuario {
            top: 1.9rem;
            left: -2.4rem;
        }

        .pontuacao #placaComputador {
            top: 1.9rem;
            right: -4.2rem;
        }

        .pontuacao span {
            font-size: 3.5rem;
        }

        .resultado {
            font-size: 1.8rem;
        }

        .opcoes img {
            height: 8rem;
            width: 8rem;
        }

        #mensagemJogar {
            font-size: 1.8rem;
        }

        #autor {
            margin-top: 130px;
            font-size: 1.2rem;
        }
        
    }